<div class="container">
    <h3>Login</h3>
    <div class="row">
        <div class="col-md-12">
            <form #authForm="ngForm" (ngSubmit)="login(authForm.value)">
                <div class="form-group">
                    <label>Tài khoản</label>
                    <input type="text" name="taiKhoan" class="form-control" ngModel required #TaiKhoan="ngModel"
                        minlength="7" maxlength="15" />
                    <div class="alert alert-danger" *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="TaiKhoan.errors.required">Tài khoản không được rỗng</div>

                        <!-- Kiểm tra độ dài kí tự -->
                        <div *ngIf="TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength">
                            Độ dài kí tự từ 7 - 15
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="text" name="matKhau" class="form-control" ngModel>
                </div>



                <button class="btn btn-success" [disabled]="!authForm.valid">Login</button>
            </form>
        </div>
    </div>
</div>